apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: stack-vault
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/your-user/wordpress-gitops.git
    targetRevision: HEAD
    path: manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: stack-services
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
